/* CSS Document */
body {
	padding-top: 0;
	font-family: Roboto, sans-serif;
	color: #929292;
	font-size: 15px;
}
a {
	color: #000;
}
a:hover {
	color: #3F3F3F;
}
.mini_meni li>a {
	padding-top: 5px;
	padding-bottom: 5px;
}
.bez_padding div {
	padding-left: 0;
	padding-right: 0;
}
.bez_padding {
	padding: 0 20px;
}
.prebaruvanje div input, .prebaruvanje div button {
	border: none;
	padding: 5px;
	background-color: transparent;
	color: #2E2E2E;
}
.prebaruvanje div input {
	padding-bottom: 0;
	margin-top: 3px;
}
.prebaruvanje div button {
	color: #ccc;
	font-size: inherit;
}
.prebaruvanje div button:hover {
	background-color: transparent;
}
.prebaruvanje div input:focus {
	outline: none;
}
.mini_meni, .mini_meni a {
	color: #ccc;
	font-size: 10px;
}
.mini_meni li {
	list-style-image: url(../image/mini_meni_bulet.png)
}
.siv {
	background-color: #f5f5f5;
}
.mini_meni .nav>li>a {
	padding: 3px 20px 0 5px;
}
.mini_meni .nav>li>a:focus, .nav>li>a:hover {
	color: #2E2E2E;
	text-decoration: none;
	background-color: inherit;
}
.navbar-collapse {
	padding-right: 0;
	padding-left: 0;
}
.boi {
	margin-right: 0;
}
.boi li {
	border-bottom: 2px solid;
	margin-left: 1px;
	font-size: 16px;
}
.boi li a {
	color: #70757b;
	text-align: center;
}
.boi>li>a {
	padding: 10px 25px;
}
li.kat_in {
	border-color: #ffcc00;
}
li.kat_campaing {
	border-color: #80d445;
}
li.kat_digital {
	border-color: #009cff;
}
li.kat_madmen {
	border-color: #9858b3;
}
li.kat_local {
	border-color: #921f30;
}
li.kat_festival {
	border-color: #000000;
}
.kat_box .kat_in {
	background-color: #ffcc00;
}
.kat_box .kat_campaing {
	background-color: #80d445;
}
.kat_box .kat_digital {
	background-color: #009cff;
}
.kat_box .kat_madmen {
	background-color: #9858b3;
}
.kat_box .kat_local {
	background-color: #921f30;
}
.kat_box .kat_festival {
	background-color: #000000;
}
.kat_box {
	margin: 200px 10px 0 10px;
}
.kat_box a {
	padding: 5px;
	text-align: center;
	text-transform: uppercase;
	font-size: 10px;
}
.tag {
	margin: 0 0 0 10px;
	color: #FFF;
	z-index: 2;
	position: relative;
	font-size: 10px
}
.my-container {
	position: relative;
	background: #000;
	overflow: hidden;
	height: 310px;
}
.my-container h1 {
	padding: 10px;
	margin: 0;
	z-index: 2;
	position: relative;
	font-size: 14px;
}
.my-container a {
	color: #fff;
	z-index: 2;
	position: relative;
}
.my-container a:hover {
	color: #fff;
}
.my-container img {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: auto;
	z-index: 1;
	opacity: 0.4;
}

@media(max-width:767px) {
.siv {
	display: none;
}
}
.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
	padding: 10px;
}
.linija {
	border-bottom: 1px solid #000;
	height: 16px;
	width: 100%;
}
.kategorija_h {
	margin-bottom: -15px;
	background-color: #fff;
	float: left;
	padding-right: 2px;
	font-size: 16px;
	font-weight: bold;
	color: #000000;
}
.vesti h3 {
	font-size: 18px;
}
.vesti img {
	width: 100%;
}
.vesti .kat_in, .vesti .kat_in a, .vesti_mali .kat_in {
	color: #ffcc00;
}
.vesti .kat_campaing, .vesti .kat_campaing a, .vesti_mali .kat_campaing {
	color: #80d445;
}
.vesti .kat_digital, .vesti .kat_digital a, .vesti_mali .kat_digital, .vesti_digital .kat_digital, .vesti_digital .kat_digital a {
	color: #009cff;
}
.vesti .kat_madmen, .vesti .kat_madmen a, .vesti_mali .kat_madmen {
	color: #9858b3;
}
.vesti .kat_local, .vesti .kat_local a, .vesti_mali .kat_local {
	color: #921f30;
}
.vesti .kat_festival, .vesti .kat_festival a, .vesti_mali .kat_festival {
	color: #000000;
}
.datum {
	margin-bottom: 5px;
}
.vesti .col-md-6 {
	padding-bottom: 0;
}
.slika {
	float: left;
	width: 50%;
}
.tekst {
	float: right;
	width: 50%;
	position: relative;
	overflow: hidden;
	height: 96px;
}
.tekst span {
	position: absolute;
	bottom: 0;
	left: 10px;
}
.vest {
	padding-top: 20px;
	margin-bottom: -9px;
	overflow: hidden;
}
.vesti_mali h3 {
	font-size: 16px;
	margin: 0 0 5px 0;
}
.vesti_mali .vest {
	line-height: 95%;
}
.vesti_mali .datum {
	margin-bottom: 0;
}
.odvoi {
	height: 32px;
	display: block;
	overflow: hidden;
}
.share {
	margin: 30px 10px 20px 0;
	padding: 10px;
	width: 17%;
	float: left;
	text-align: center;
	color: #fff;
	font-size: larger;
	cursor: pointer;
}
.share:last-child {
	margin-right: 0;
}
.share_modul {
	overflow: hidden;
	margin-top: 32px;
	margin-bottom: 15px;
}
.napisavme {
	background-image: url(../image/napisavme_pozadina.png);
	background-repeat: repeat-y;
	overflow: hidden;
	margin-top: 20px;
}/*
.napisavme ul li {
	list-style-image:url(../../image/napisavme_bulet.png);
}
.napisavme ul {
	margin:20px 0 20px 0;
	padding-left:15px;
}*/
.napisavme_cas {
	background-image: url(../image/napisavme_bulet.png);
	background-repeat: no-repeat;
	width: 11px;
	height: 27px;
}
.napisavme_tekst {
	padding: 5px 0 20px 10px;
}
.campaigns_mali .slika {
	width: 90px;
	height: 90px;
	overflow: hidden;
}
.campaigns_mali img {
	clip: rect(0 90px 90px 0);
	position: absolute;
	width: 90px;
	margin-top: -45px;
}
.campaigns_mali_slika {
	height: 90px;
	width: 90px;
}
.campaigns_mali_tekst {
	padding: 10px;
	background-color: #292929;
	color: #80d445;
}
.campaigns_mali_tekst a {
	color: #fff;
	font-size: 15px;
}
.campaigns_mali_tekst .tag a, .campaigns_mali_tekst .tag {
	color: #80d445;
}
.campaigns_mali table {
	border-collapse: separate;
	border-spacing: 0 2px;
}
.campaigns_mali .tag, .campaigns_mali .tag a {
	margin: 0;
	font-size: 12px;
}
.madmen_mali .slika {
	width: 168px;
	height: 96px;
	overflow: hidden;
}
.madmen_mali img {
	clip: rect(0 168px 96px 0);
	position: absolute;
	width: 168px;
	margin-top: -48px;
}
.madmen_mali_slika {
	height: 96px;
	width: 168px;
}
.madmen_mali_tekst {
	padding: 10px 10px 0 10px;
	vertical-align: bottom;
}
.madmen_mali_tekst p {
	line-height: 95%;
	margin-bottom: 5px;
}
.madmen_mali_tekst a {
	font-size: 15px;
}
.madmen_mali_tekst h3 a {
	font-weight: bold;
}
.madmen_mali_tekst .tag a, .madmen_mali_tekst .tag {
	color: #80d445;
}
.madmen_mali table {
	border-collapse: separate;
	border-spacing: 0 11px;
}
.madmen_mali .tag, .madmen_mali .tag a {
	margin: 0;
	font-size: 12px;
}
.madmen_mali table {
	margin-top: 10px;
}
.vesti {
	padding-bottom: 0;
}
.col-md-4 .vesti_digital {
	height: 246px;
	margin: 0 7px 7px 0;
}
.col-md-8 .vesti_digital {
	height: 500px;
}
.vesti_digital .kat_box {
	margin: 0;
}
.vesti_digital .kat_box a {
	padding: 0;
	font-size: 18px;
	text-transform: uppercase;
}
.vesti_digital .tag {
	padding: 0;
	margin: 0;
}
.col-md-8 .vesti_digital .kat_box a {
	font-size: 30px;
}
.my-container-tekst {
	position: absolute;
	bottom: 20px;
	left: 20px;
}
.col-md-8 .my-container-tekst {
	left: 40px;
	line-height: 180%;
}
footer {
	margin: 0;
	text-align: center;
}
/*  VIDEO PLAYER CONTAINER
 		############################### */
.vid-container {
	position: relative;
	padding-bottom: 52%;
	padding-top: 30px;
	height: 0;
}
.vid-container iframe,  .vid-container object,  .vid-container embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index:90;
}
/*  VIDEOS PLAYLIST 
 		############################### */
.vid-list-container {
    width: 100%;
    overflow: hidden;
    /* margin-top: 20px; */
    /* margin-left: 1%; 
    padding-bottom: 20px;*/
}
.vid-list {
	width: 1344px;
	position: relative;
	top: 0;
	left: 0;
}
.vid-item {
    display: inline;
    width: 168px;
    height: 88px;
    float: left;
    margin: 0;
    padding: 0 10px 0 0;
	position: relative;
	z-index:10;
    background-color: #000000;
}
.thumb {
	/*position: relative;
	z-index:10;*/
	overflow: hidden;
	height: 88px;
}
.thumb img {
	width: 100%;
	position: relative;
	top:-16px;
}
.vid-item .desc {
	color: #21A1D2;
	font-size: 15px;
	margin-top: 5px;
}
.vid-item:hover {
	cursor: pointer;
}
.arrows {
	position: relative;
	width: 100%;
}
.arrow-left {
	color: #fff;
	position: absolute;
	background: #777;
	padding: 15px;
	left: -25px;
	top: -130px;
	z-index: 99;
	cursor: pointer;
}
.arrow-right {
	color: #fff;
	position: absolute;
	background: #777;
	padding: 15px;
	right: -25px;
	top: -130px;
	z-index: 100;
	cursor: pointer;
}
.arrow-left:hover {
	background: #CC181E;
}
.arrow-right:hover {
	background: #CC181E;
}

@media (max-width: 624px) {
body {
	margin: 15px;
}
.caption {
	margin-top: 40px;
}
.vid-list-container {
	padding-bottom: 20px;
}
/* reposition left/right arrows */
.arrows {
	position: relative;
	margin: 0 auto;
	width: 96px;
}
.arrow-left {
	left: 0;
	top: -17px;
}
.arrow-right {
	right: 0;
	top: -17px;
}
}

iframe {
  position:absolute;
}


#front {
  position:absolute;
  /*border:solid 1px #000;
  box-shadow:0 0 1px #666;*/
  width:50%;
  height:30%;
  left:25%;
  top:60%;
  text-align:center;
  font-size:x-large;
  color:#fff;
  text-shadow: 1px 1px 5px #000000;
  z-index:99;
  cursor:pointer;
}
.desc_front {
	  position:absolute;
	  background-color:#80d445;
  width:100%;
  height:100%;
  left:0;
  top:0;
  text-align:center;
  color:#fff;
  z-index:99;
  display:none;
  padding:10px;
}
.strelka {
	  position:absolute;
  width:100%;
  height:100%;
  left:50%;
  top:50%;
  margin:-17px;
  z-index:99;
	background-image:url(../image/strelka.png);
	background-repeat:no-repeat;
}
.arrows {
	display:none;
}